<nav class="navbar navbar-expand-md navbar-dark ">
    <a class="navbar-brand" routerLink="home"><img class="bmn-icon" src="../../assets/BMNTeam.svg" alt="Bmn icon text"></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse"  style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" >
                <a class="nav-link" routerLink="home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="add" routerLinkActive="active">Add <span class="sr-only">(current)</span></a>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" routerLinkActive="active" (click)=" show = !show; $event.preventDefault();"
                   aria-haspopup="true" aria-expanded="false">Currencies</a>
                <div class="dropdown-menu" [ngClass]="{'show': show}">
                    <a *ngFor="let currency of currencies"
                       class="dropdown-item"
                       (click)="show = !show"
                       routerLink="single/{{currency}}"
                       routerLinkActive="active"
                       href="#">{{currency}}</a>
                </div>
            </li>
        </ul>

    </div>
</nav>