<div class="container">
    <br>
    <h5>Dynamic</h5>
    <div class="row">
        <div class="col-md-12">
            <ul class="S bmn-list--wrapper">
                <li *ngFor="let quotation of quotations"><a href="#"> {{ quotation.name}}</a></li>

            </ul>
        </div>

        <div class="col-md-12">
            <canvas appChart [labels]="['blue', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange']"
                    [values]="[12, 19, 3, 5, 2, 3]"></canvas>
        </div>
    </div>


</div>

<br>


<div class="container">

    <h5>Sums</h5>

    <app-list></app-list>
</div>