<table class="table table-hover table-responsive-md">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Currency</th>
        <th scope="col">Quotation</th>
        <th scope="col">Dynamic</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let q of quotations; let i = index">
        <th>{{i}}</th>
        <td>{{q.name}}</td>
        <td> {{q.quotations[q.quotations.length -1].value}}</td>
        <td> {{getDynamic( q.quotations).dynamics}}</td>
        <td class="bmn-table-actions">
            <a href="#">
                <i class="fas fa-trash"></i>
            </a>
            <a routerLink="/single/{{q.name}}" routerLinkActive="active">
                <i class="fas fa-arrow-alt-circle-right"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>